
.privacy-policy-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
  }
  
  .privacy-policy-content {
    max-width: 800px;
    width: 100%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color:rgba(240, 255, 255, 0.395);
  }
  
  .privacy-policy-content h1 {
    color: #333;
    margin-bottom: 20px;
  }
  
  .privacy-policy-content h2 {
    color: #333;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .privacy-policy-content p {
    color: #666;
    line-height: 1.6;
    margin-bottom: 15px;
  }
  